* {
    box-sizing: content-box;

}
/* textured background from Google images */
body {
    background-image: url("11856661-closeup-of-rough-textured-background.jpg");
    background-size: cover;
    /* TODO - Why isn't my font showing? */
}

main {
    height: 150vh;
    background-color: rgba(143, 145, 160, 0.801);
}

.row {
    /* border used for template */
    /* border: 1px dotted red; */
    margin-top: 5px;
}

/* #about-section, 
#work-section,
 {
    /* Use for template */
    /* border-right: 5px solid black; */
/* } */ 

.card-class {
    margin-top: 5%;
}

.linkcard {
    background-color:rgba(14, 39, 226, 0.479);
    border-radius: 3%;
    margin-top: 10px;
}

