* {
    box-sizing: content-box;
    /* imported font */
    font-family: Roboto, sans serif;
}
/* textured background from Google images */
body {
    background-image: url("11856661-closeup-of-rough-textured-background.jpg");
    background-size: cover;
}

main {
    height: 170vh;
    background-color: rgba(143, 145, 160, 0.801);
}

e-mail icon
a[href^="mailto"]::before {
    content: "📧 ";
}

.row {
    /* border used for template */
    /* border: 1px dotted red; */
    margin-top: 5px;
}

/* #about-section, 
#work-section,
 {
    /* Use for template */
    /* border-right: 5px solid black; */
/* } */ 

.card-class {
    margin-top: 5%;
}

/* Cards for project display */
.linkcard {
    background-color:rgba(14, 39, 226, 0.479);
    border: 1px solid indigo;
    box-shadow: 5px 10px;
    border-radius: 3%;
    margin-top: 10px;

}

.linkcard:hover {
    background-color: #0099cc;
  }

/* responsive mobile  */
@media screen and (min-width: 576px){
    .card-class {
      background-color: #fff;
    }
  

footer {
        padding: 10px;
        background-color: #333;;
        color:rgb(190, 187, 187);
        font-weight: 900;
        margin-top: 100px;
}

